<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="RAFAELSQLEXPRESSIpgaDB" connectionString="XpoProvider=MSSqlServer;data source=RAFAEL\SQLEXPRESS;user id=sa;password=9173rafa;initial catalog=IpgaDB;Persist Security Info=true;Encrypt=False;TrustServerCertificate=True" />
  </connectionStrings>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value>Skin/DevExpress Style</value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value>Segoe UI;9</value>
      </setting>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value>
          <CustomPaletteCollection>
            <Skin Name="WXI">
              <SvgPalette Name="Tema Custom">
                <SvgColor Name="Background 200" Value="78,78,78" />
                <SvgColor Name="Background 100" Value="60,60,60" />
                <SvgColor Name="Background 0" Value="46,46,46" />
                <SvgColor Name="Background -100" Value="66,66,66" />
                <SvgColor Name="Background -200" Value="88,88,88" />
                <SvgColor Name="Foreground 100" Value="240,240,240" />
                <SvgColor Name="Foreground 50" Value="180,180,180" />
                <SvgColor Name="Foreground 25" Value="128,128,128" />
                <SvgColor Name=" " Value="" />
                <SvgColor Name="Edit Background 0" Value="212,212,212" />
                <SvgColor Name="Edit Background -50" Value="190,190,190" />
                <SvgColor Name="Edit Background -100" Value="179,211,236" />
                <SvgColor Name="Edit Background -200" Value="212,231,243" />
                <SvgColor Name="Edit Background -300" Value="176,176,176" />
                <SvgColor Name="Edit Foreground 100" Value="38,38,38" />
                <SvgColor Name="Edit Foreground 50" Value="84,84,84" />
                <SvgColor Name="Edit Foreground 25" Value="128,128,128" />
                <SvgColor Name=" " Value="" />
                <SvgColor Name="Line 100" Value="88,88,88" />
                <SvgColor Name="Line 50" Value="88,88,88" />
                <SvgColor Name="Line 25" Value="88,88,88" />
                <SvgColor Name="Line Gradient 100" Value="">
                  <linearGradient x1="0%" y1="0%" x2="100%" y2="0%" gradientUnits="objectBoundingBox" spreadMethod="pad">
                    <stop offset="0%" stop-color="#1C1C1C" />
                    <stop offset="10%" stop-color="#2E2E2E" />
                    <stop offset="100%" stop-color="#2E2E2E" />
                  </linearGradient>
                </SvgColor>
                <SvgColor Name="Line Gradient 50" Value="">
                  <linearGradient x1="0%" y1="0%" x2="100%" y2="0%" gradientUnits="objectBoundingBox" spreadMethod="pad">
                    <stop offset="0%" stop-color="#1C1C1C" />
                    <stop offset="10%" stop-color="#2E2E2E" />
                    <stop offset="100%" stop-color="#2E2E2E" />
                  </linearGradient>
                </SvgColor>
                <SvgColor Name="   " Value="" />
                <SvgColor Name="Primary Background 100" Value="0,114,198" />
                <SvgColor Name="Primary Background 0" Value="247,150,70" />
                <SvgColor Name="Primary Background -100" Value="9,135,224" />
                <SvgColor Name="Primary Background -200" Value="29,152,240" />
                <SvgColor Name="Primary Foreground 100" Value="255,255,255" />
                <SvgColor Name="Primary Foreground 25" Value="117,189,240" />
                <SvgColor Name="     " Value="" />
                <SvgColor Name="Secondary Background 0" Value="46,46,46" />
                <SvgColor Name="Secondary Background -100" Value="66,66,66" />
                <SvgColor Name="Secondary Background -200" Value="88,88,88" />
                <SvgColor Name="Secondary Foreground 100" Value="255,255,255" />
                <SvgColor Name="Secondary Foreground 25" Value="102,102,102" />
                <SvgColor Name="    " Value="" />
                <SvgColor Name="Red" Value="246,119,128" />
                <SvgColor Name="Green" Value="161,221,170" />
                <SvgColor Name="Blue" Value="95,185,250" />
                <SvgColor Name="Yellow" Value="248,219,143" />
                <SvgColor Name="Black" Value="212,212,212" />
                <SvgColor Name="Gray" Value="Gray" />
                <SvgColor Name="White" Value="78,78,78" />
                <SvgColor Name="   " Value="" />
                <SvgColor Name="Red (addl)" Value="212,35,20" />
                <SvgColor Name="Green (addl)" Value="48,144,72" />
                <SvgColor Name="Blue (addl)" Value="16,110,190" />
                <SvgColor Name="Yellow (addl)" Value="227,145,35" />
                <SvgColor Name="Black (addl)" Value="17,16,15" />
                <SvgColor Name="Gray (addl)" Value="Gray" />
                <SvgColor Name="White (addl)" Value="212,212,212" />
              </SvgPalette>
            </Skin>
          </CustomPaletteCollection>
        </value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.32.0" newVersion="3.1.32.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.32.0" newVersion="3.1.32.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.32.0" newVersion="3.1.32.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Caching.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.32.0" newVersion="3.1.32.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.32.0" newVersion="3.1.32.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.32.0" newVersion="3.1.32.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.32.0" newVersion="3.1.32.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>